<div class="details__container">
  <a [routerLink]="['/budgets']" class="details__close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a>
  <div class="warning" *ngIf="selectedBudget.remaining < 0">Limit exceeded on {{-selectedBudget.remaining}} {{selectedBudget.currency}}</div>
  <div class="details__card">
    <div class="details__name">
      {{selectedBudget.name}}
    </div>
    <div class="details__text">
      <span class="details__label">Limit:</span>
      <span>{{selectedBudget.limit}} {{selectedBudget.currency}}</span>
    </div>
    <div class="details__text">
      <span class="details__label">Remaining budget:</span>
      <span>{{selectedBudget.remaining}} {{selectedBudget.currency}}</span>
    </div>
    <div class="details__text">
      <span class="details__label">Average transaction amount:</span>
      <span>{{selectedBudget.averageAmount}} {{selectedBudget.currency}}</span>
    </div>
    <div class="details__text">
      <span class="details__label">Maximum transaction amount:</span>
      <span>{{selectedBudget.maximumAmount}} {{selectedBudget.currency}}</span>
    </div>
    <div class="details__text">
      <span class="details__label">Minimum transaction amount:</span>
      <span>{{selectedBudget.minimumAmount}} {{selectedBudget.currency}}</span>
    </div>

  </div>

  <ul class="details__list">
    <li *ngIf="(selectedBudget.remaining > 0) && onLoadComponent" (click)="openModal()" class="details__add details__transaction">
      <span class="details__label details__label_icon">+</span>
      <span class="details__label">Add transaction</span>
    </li>
    <li *ngFor="let transaction of (selectedBudget) ? selectedBudget.transactions : []; let index = index" class="details__transaction">
      <span class="details__row">
        <span class="details__label">Target: </span>
        <span>{{transaction.target}}</span>
      </span>
      <span class="details__row">
        <span class="details__label">Amount: </span>
        <span>{{transaction.amount}}</span>
      </span>
      <span class="details__row">
        <span class="details__label">Currency: </span>
        <span>{{transaction.currency}}</span>
      </span>

      <a (click)="removeTransaction(index)" class="details__remove">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    </li>
  </ul>

  <app-add-transaction *ngIf="modalFormOpen" (create)="addTransaction($event)" (close)="closeModal()"></app-add-transaction>
</div>
