<form novalidate [formGroup]="addTransactionForm" class="create-budget__form">
  <h3 class="create-budget__title">Add Transaction</h3>

  <label class="create-budget__label" for="target">Enter Target</label>
  <input class="create-budget__input" id="target" type="text" formControlName="target" #target>
  <label class="create-budget__label" for="amount">Enter Amount</label>
  <span class="create-budget__input create-budget__input_container">
    <input class="create-budget__input" type="number" id="amount" formControlName="amount" #amount>
    <select class="create-budget__input create-budget__input_currency" formControlName="currency" #currency>
      <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
    </select>
  </span>

  <span class="buttons-container">
    <input class="button" (click)="closeModal()" type="button" value="Cancel">
    <input [disabled]="!addTransactionForm.valid" class="button" type="button"
           (click)="addTransaction()" value="Add Transaction">
  </span>
</form>
<div class="create-budget__modal">
</div>
